/* Import de la police San-Francisco */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    font-family: "San Francisco", "Arial";
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;

    --bone-white: #F9F6EE;
    --light-grey-bg: #F5F5F5;
    --dark-bg: #222222;
    --orange-bg: #FD6A02;
    --orange-bg-transparent: #fd6b02b2;
    --blue-bg: #27417D;
    --shadow: rgb(170, 170, 170);

    --index: calc(1vh+1vw);
}

.modal-backdrop {
    background-color: transparent;

}

::selection {
    background-color: var(--blue-bg);
    color: white;
}

/* Common styles */

.bg-orange {
    background-color: var(--orange-bg);
}
.bg-blue {
    background-color: var(--blue-bg);
}
.bg-bonewhite {
    background-color: var(--bone-white);
}

.title-1, .title-2, .title-3 {
    color: var(--dark-bg)
}
.text-bonewhite {
    color: var(--bone-white);
}
.text-orange {
    color: var(--orange-bg);
}
.text-blue {
    color: var(--blue-bg);
}
.text-darkgrey {
    color: #393939;
}

.ubuntu {
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
    /* font-size: 6vw;
    line-height: 6vw; */
}

/* .ubuntu:not(.countdown-number) {
    font-family: 'Poppins', sans-serif;
} */

.title-1 {
    font-size: 6vw;
}
.title-2 {
    font-size: 5vh;
}
.title-3 {
    font-size: 3vh;
}

.title-3.ubuntu {
    line-height: 3vh;
}

.hover-pointer:hover {
    cursor: pointer;
}

.general-info-text {
    font-size: 2.5vh;
    line-height: 3vh;
}

.text-justify {
    text-align: justify;
}

.inscription-info-text {
    color: rgb(91, 91, 91);
    font-size: 2vh;
}

.separation-bar-lg, .separation-bar-sm {
    background-color: var(--dark-bg);
    border-radius: 4vh;
}

.separation-bar-lg {
    height: 8px;
    width: 60%;
}

.separation-bar-sm {
    height: 2px;
    width: 60%;
}

.dot-header {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75vh;
    width: 1.75vh;
    border-radius: 50%;
}

.button {
    border: none;
    width: fit-content;
    transition: filter 0.5s, box-shadow 0.5s ease-out;
}

.button:hover {
    filter: brightness(125%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.window-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.window {
    background: rgba( 255, 255, 255, 0.8 );

    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;

    border-radius: 5vh;
    box-shadow: 3px 3px 10px var(--shadow);
    width: 75%;
    height: 75%;
}

.link-active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/* Partie accueil */

#startpage-container {
    position: relative;
    height: 100vh;
    width: 100%;

    background-image: url('../images/background/main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#startpage-box {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #startpage-box {
    transform: translateY(-100vh);
    transition: transform 1s ease-out;
} */

#startpage-countdown-box {
    width: 50%;
    border-radius: 2.5vh;

    /* background: rgba( 39, 65, 125, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px ); */

    background: rgba( 253, 106, 2, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#rdd-date {
    letter-spacing: 0.8vw;
}

@media (max-width: 1000px) {
    #startpage-countdown-box {
        width: 90%;
    }
}

/* .countdown-number {
    font-size: calc(var(--index)*15);
} */

.countdown-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
}

#startpage-arrow-box {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;

    padding: 5vh !important;
}

#startpage-arrow {
    animation: arrow-loop 3s linear infinite;
}

@keyframes arrow-loop {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50px);
    }
    40% {
        transform: translateY(0);
    }
}

/* Partie inscription */

#inscription-scrollable {
    scroll-behavior: smooth;
}
.inscription-form {
    max-width: 50%;
}

.btn-svg {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.go-up-btn:hover .btn-svg {
    opacity: 1;
}

.go-back-btn:hover .btn-svg {
    opacity: 1;
}

.avatar-sm, .avatar-md, .avatar-lg {
    height: 15vh;
    width: 15vh;

    border: 2px solid var(--dark-bg);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-lg {
    border-width: 4px;
    height: 17.5vh;
    width: 17.5vh;
}

.avatar-sm {
    border-width: 3px;
    height: 10vh;
    width: 10vh
}

.avatar-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    pointer-events: none;
}

#parentsHelp {
    pointer-events: none;
    user-select: none;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.password-input-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.inscription-btn-back-phone {
    display: none;
}

.error-border {
    border: 5px solid var(--orange-bg-transparent);
}

.error-font {
    color: var(--orange-bg);
}

#change-select-promotion, #change-select-oldpromotion, #change-input-entreprise {
    display: none;
}

#avatar-info {
    /* j'ai du renter le display manuellement car conflit bootstrap / css avec @media */
    display: flex;
}

/* Responsive pour téléphones */
@media (max-width: 1000px) {
    .inscription-form {
        max-width: 90%;
    }

    .avatar-small {
        height: 13vh;
        width: 13vh;
    }

    .inscription-info-text {
        font-size: 2vh;
    }

    .window {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .inscription-typeit {
        text-align: center;
    }

    .inscription-btn-back-phone {
        display: inline;
    }

    .dot-header {
        display: none;
    }

    .svg-france {
        display: none;
    }

    .phone-d-none {
        display: none;
    }
}

@media (max-height: 700px) {
    #avatar-info {
        display: none;
    }
}

/* Partie questions */

#questions-container {
    background-color: var(--dark-bg);

    display: flex;
    justify-content: center;
    align-items: center;
}

#questions-box {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questions-form {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 4vh;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    border: 4px solid var(--bone-white);
}

.questions-input, #input-questions-textarea {
    color: var(--bone-white);
    width: 100%;
    /* background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 1vh;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--bone-white);
}

.questions-input::placeholder {
    color: var(--bone-white);
    opacity: 0.9;
}

.questions-input:focus {
    outline: none;
}

#input-questions-textarea {
    resize: none;
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    border: 3px solid var(--bone-white);
}

#questions-secondary-submit {
    display: none;
}

@media (max-width: 1000px) {
    #questions-box {
        width: 90%;
    }

    .questions-input {
        width: 90%;
    }

    #questions-form {
        border: none;
        background-color: transparent;
    }

    #questions-primary-submit {
        display: none;
    }

    #questions-secondary-submit {
        display: flex;
    }

    .general-info-text {
        font-size: 2vh;
        line-height: 2.5vh;
    }
}

/* Partie organisateurs, sponsors */

#footer-container {
    background-color: var(--bone-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#organisator-container {
    width: 60%;

    height: fit-content; 
    display: flex;
    position: relative;
    overflow: hidden;
}

#organisator-animation-wrapper {
    width: fit-content;
    display: flex;
    justify-content: center;

    position: relative;

    padding: 2rem 0 !important;
    animation: loop 25s linear infinite;
}

.organisator-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin: 0 2.5rem !important;

    transition: transform 0.5s;
}

.organisator-wrapper:hover {
    transform: scale(1.05);
}


.organisator-wrapper:hover ~ #organisator-animation-wrapper {
    animation-play-state: paused;
    background-color: red;
}

#organisator-wrapper-fade {
    z-index: 100;
    pointer-events: none;
    position: absolute;
    background: linear-gradient(90deg, var(--bone-white), transparent 20%, transparent 80%, var(--bone-white));
    inset: 0;
}

@keyframes loop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#sponsor-container {
    width: 60%;
    height: fit-content; 
}

.sponsor-img {
    height: 8vh;
    width: 13vh;
    object-fit: contain;
}

/* Responsive pour téléphones */
@media (max-width: 1000px) {

    .title-2 {
        font-size: 2.5vh;
    }

    #organisator-container {
        width: 100%;
    }

    .avatar-lg {
        height: 10vh;
        width: 10vh;
        margin: 0 2rem !important;
    }

    .organisator-wrapper {
        margin: 0 !important;
    }
    #sponsor-container {
        width: 80%;
    }

    .sponsor-img {
        height: 5vh;
        width: 9vh;
    }

    .separation-bar-lg {
        height: 4px;
        width: 60%;
    }
    
    .organisator-text {
        font-size: 0.8rem;
    }
}

/* Connection styles */

#connection-container {
    background-color: transparent;
    position: fixed;
    inset: 0;
}

#connection-background {
    position: fixed;
    inset: 0;

    background-color: rgba(255,255,255,0.2);
}

#connection-window {
    background: rgba( 255, 255, 255, 0.9);

    width: 30vw;
    height: 75vh;

    transition: height 0.5s;
    scroll-behavior: smooth;
}

#connection-modal {
    z-index: 10000;

    position: fixed;
    inset: 0;

    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}

#connection-error-text {
    height: 2lh;
    width: 80%;
}

@media (max-width: 1000px) {
    #connection-window {
        background-color: white;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
}

/* Ultra wide screens  */
@media (min-aspect-ratio: 2/1) {
    .window-container {
        padding: 0 15vw !important;
    }

    #footer-container {
        padding: 0 15vw !important;
    }

    #connection-container {
        padding: 0 40vw !important;
    }
}

@keyframes tada {
    0% {
            transform: scale3d(1, 1, 1);
    }
    1%,
    2% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    3%,
    5%,
    7%,
    9% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    4%,
    6%,
    8% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    10% {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation: tada 10s linear infinite;
}

/* Header styles */

.header-link {
    display: inline-block;

    color: var(--bone-white);
    font-weight: bold;
    font-size: 2.25vh;
    text-decoration: none;

    position: relative;
    transition: transform 0.2s;
}

.header-link:hover {
    color: var(--bone-white);
    transform: translateY(-5%);
}

.header-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;

    border-radius: 5px;

    bottom: -7.5px;
    right: 50%;
    transform: translateX(50%) scaleX(0);

    background-color: var(--bone-white);
    opacity: 0;
    transition: transform 0.35s ease-out, opacity 0.25s ease-in-out, bottom 0.25s ease-in-out;
}

.header-link:hover::after {
    opacity: 1;
    bottom: -2.5px;
    transform: translateX(50%) scaleX(1);
}

#header-dropdown-wrapper {
    position: relative;
    z-index: 1000;
}

#header-profile-button {
    border-radius: 2.25vh;
}

#header-dropdown {
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 50%;
    width: 100%;
    
    background-color: var(--bone-white);
    border-bottom-left-radius: 2.25vh;
    border-bottom-right-radius: 2.25vh;

    transition: transform 0.5s ease, top 0.5s ease;

    transform-origin: top;
    transform: scaleY(0);
}

#header-dropdown-wrapper:hover #header-dropdown {
    top: 50%;
    transform: scaleY(1);
}

#header-dropdown-wrapper:hover .header-dropdown-element {
    opacity: 1;
}

.header-dropdown-element {
    z-index: -1;
    width: 100%;
    opacity: 0;
    border: none;
    background-color: transparent;
    transition: opacity 0.25s ease, transform 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-dropdown-element:hover {
    transform: translateY(-2px);
}