/* Import de la police San-Francisco */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    font-family: "San Francisco", "Arial";
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;

    --bonewhite: #F9F6EE;
    --lightgrey: #919191;
    --dark: #222222;
    --orange: #FD6A02;
    --blue: #27417D;
    --selection: #4865a8;

    --orange-transparent: #fd6b02b2;
    --blue-transparent: #27417Db2;
    --shadow: rgb(170, 170, 170);

    --index: calc(1vh+1vw);
}

body {
    /* background-image: url('../images/background/main-blurred.png'); */
    background-image: url('../images/background/secondary-blue.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none !important;
}

.modal-backdrop {
    background-color: white;
}

::selection {
    background-color: var(--selection);
    color: var(--bonewhite);
}

/* Common styles */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mw-75 {
    max-width: 75%;
}

.bg-orange {
    background-color: var(--orange);
    color: var(--bonewhite);
}
.bg-blue {
    background-color: var(--blue);
    color: var(--bonewhite);
}
.bg-bonewhite {
    background-color: var(--bonewhite);
    color: var(--dark);
}
.bg-darker {
    background-color: var(--dark);
    color: var(--bonewhite);
}
.bg-lightgrey {
    background-color: var(--lightgrey);
    color: var(--bonewhite);
}
.border-orange {
    border-color: var(--orange) !important;
}
.border-blue {
    border-color: var(--blue-transparent) !important;
}
.border-bonewhite {
    border-color: var(--bonewhite) !important;
}
.border-darker {
    border-color: var(--dark) !important;
}
.border-lightgrey {
    border-color: rgba( 255, 255, 255, 0.25 ) !important;
}
.text-bonewhite {
    color: var(--bonewhite);
}
.text-orange {
    color: var(--orange);
}
.text-blue {
    color: var(--blue);
}

.ubuntu {
    font-family: 'Poppins', sans-serif;
}

.text-title {
    margin-top: 2vh !important;
    margin-bottom: 5vh !important;

    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;

    text-align: center;
}

.text-information {
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: justify;
}

.text-complementary {
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}

.title-1 {
    font-size: 6vw;
}
.title-2 {
    font-size: 5vh;
}
.title-3 {
    font-size: 3vh;
}

.title-3.ubuntu {
    line-height: 3vh;
}

.scale {
    transform: scale(1.5);
}

.hover-pointer:hover {
    cursor: pointer;
}

.general-info-text {
    font-size: 1.5vw;
    line-height: 2vw;
}

.general-info-text-small {
    max-width: 80%;
    font-size: 1vw;
    line-height: 1.2vw;
}

.text-justify {
    text-align: justify;
}

.inscription-info-text {
    color: rgb(91, 91, 91);
    font-size: 2vh;
}

.separation-bar-lg, .separation-bar-sm {
    border-radius: 4vh;
}

.separation-bar-lg {
    height: 8px;
    width: 60%;
}

.separation-bar-sm {
    height: 2px;
    width: 60%;
}

.dot-header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: .5rem;

}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75vh;
    width: 1.75vh;
    border-radius: 50%;
}

.button {
    border: none;
    border-radius: 10px;
    width: fit-content;
    transition: filter 0.5s, box-shadow 0.5s ease-out;
    font-weight: bold;
}

.button-hover-effect:hover {
    filter: brightness(125%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.window-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.window {
    background: rgba( 255, 255, 255, 0.75 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border-radius: 5vh;
    box-shadow: 3px 3px 10px var(--shadow);
    width: 75%;
    height: 75%;
}

.window-big {
    width: 85%;
    height: 85%;
}

.background-wave-blue, .background-wave-dark, .background-wave-orange, .background-wave-white {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-wave-dark {
    background-image: url('../images/background/secondary-dark.svg');
}

.background-wave-blue {
    background-image: url('../images/background/secondary-blue.svg');
}

.background-wave-orange {
    background-image: url('../images/background/secondary-orange.svg');
}

.background-wave-white {
    background-image: url('../images/background/secondary-white.svg');
}

/* Accueil */

#startpage-container {
    height: 100vh;
    width: 100%;
}

#startpage-box {
    position: relative;
}
#startpage-countdown-box {
    width: 50%;
    border-radius: 2.5vh;
    background: var(--blue-transparent);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 3px solid rgba( 255, 255, 255, 0.25 );
}

.startpage-title, #gallery-title {
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.startpage-title:nth-child(1), .startpage-title:nth-child(3) {
    color: var(--bonewhite);
}

.startpage-title:nth-child(1) {
    font-size: 5vw;
    line-height: 6vw;
}
.startpage-title:nth-child(2) {
    color: #649eff;
    color: var(--blue);
    color: transparent;
    
    -webkit-text-stroke: 4px var(--bonewhite);

    font-size: 7vw;
    line-height: 7vw;
}
.startpage-title:nth-child(3) {
    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 0.8vw;
}

.countdown-number {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--bonewhite);

    font-size: 7vw;
    line-height: 7vw;
}

.text-center-lg {
    text-align: center;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#startpage-arrow-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5vh !important;
}

/* Partie inscription */

#inscription-scrollable {
    scroll-behavior: smooth;
    max-width: 55%;
}

.inscription-form {
    max-width: 50%;
}

.btn-svg {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.go-up-btn:hover .btn-svg {
    opacity: 1;
}

.go-back-btn:hover .btn-svg {
    opacity: 1;
}

.avatar-xs, .avatar-sm, .avatar-md, .avatar-lg {
    user-select: none;
    height: 15vh;
    width: 15vh;
    border: 3px solid var(--dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-lg {
    border-width: 4px;
    height: 17.5vh;
    width: 17.5vh;
}

.avatar-sm {
    height: 10vh;
    width: 10vh
}

.avatar-xs {
    height: 7.5vh;
    width: 7.5vh;
}

.avatar-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    pointer-events: none;
}

.password-input-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.error-border {
    border: 5px solid var(--orange-transparent);
}

.error-font {
    color: var(--orange);
}

#change-select-promotion, #change-select-oldpromotion, #change-input-entreprise {
    display: none;
}

/* Partie organisation */

#organisation-box {
    width: 80%;
}

#organisation-text-introduction {
    max-width: 80%;
}

#organisation-map-wrapper {
    border-radius: 4vh;
    border: 8px solid var(--bonewhite);
    overflow: hidden;
    width: 90%;
    height: 80%;
}

#organisation-map {
    display: block;
    filter: brightness(85%);
    width: 100%;
    min-height: 35vh;
    transition: filter 0.5s ease;
}

#organisation-map:hover {
    filter: brightness(100%);
}
/* Partie questions */

#questions-box {
    width: 80%;
}

#questions-form {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 4vh;
    border: 4px solid var(--bonewhite);
}

.questions-input, #input-questions-textarea {
    color: var(--bonewhite);
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--bonewhite);
}

.questions-input::placeholder {
    color: var(--bonewhite);
    opacity: 0.9;
}

.questions-input:focus {
    outline: none;
}

#input-questions-textarea {
    resize: none;
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    border: 3px solid var(--bonewhite);
}

/* Partie organisateurs, sponsors */

#organisator-container {
    width: 60%;
    height: fit-content; 
    display: flex;
    position: relative;
    overflow: hidden;
}

#organisator-animation-wrapper {
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2rem 0 !important;
    animation: loop 25s linear infinite;
}

.organisator-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 2.5rem !important;
    transition: transform 0.5s;
}

.organisator-wrapper:hover {
    transform: scale(1.05);
}

.organisator-wrapper:hover ~ #organisator-animation-wrapper {
    animation-play-state: paused;
    background-color: red;
}

#organisator-wrapper-fade {
    z-index: 100;
    pointer-events: none;
    position: absolute;
    background: linear-gradient(90deg, var(--bonewhite), transparent 20%, transparent 80%, var(--bonewhite));
    inset: 0;
}

#sponsor-container {
    width: 60%;
    height: fit-content; 
}

.sponsor-img {
    height: 8vh;
    width: 13vh;
    object-fit: contain;
}
/* Connection styles */

.modal-container {
    background-color: transparent;
    position: fixed;
    inset: 0;
}

.modal-background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-window {
    background: rgba( 255, 255, 255, 0.9);
    width: 30vw;
    height: 75vh;
    transition: height 0.5s;
    scroll-behavior: smooth;
}

.modal {
    z-index: 10000;
    position: fixed;
    inset: 0;
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}

#connection-error-text {
    height: 2lh;
    width: 80%;
}
/* Header styles */

header {
    transition: background 0.3s ease-in;
    position: relative;
}

#header-background-scroll {
    background-color: var(--blue);
    position: absolute;
    inset: 0;
    height: 0%;
    transition: height 0.5s ease;
}

.link {
    display: block;
    color: var(--bonewhite);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;

    position: relative;
    transition: transform 0.2s;
}

.link:hover {
    color: var(--bonewhite);
    transform: translateY(-5%);
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    bottom: -7.5px;
    right: 50%;
    transform: translateX(50%) scaleX(0);
    background-color: var(--bonewhite);
    opacity: 0;
    transition: transform 0.35s ease-out, opacity 0.25s ease-in-out, bottom 0.25s ease-in-out;
}

.link:hover::after {
    opacity: 1;
    bottom: -2.5px;
    transform: translateX(50%) scaleX(1);
}

.link-active {
    color: var(--orange) !important;
}

.link-active::after {
    background-color: var(--orange);
}

#header-dropdown-wrapper {
    position: relative;
    z-index: 1000;
}

.zIndex {
    z-index: 1000;
}
#header-profile-button {
    border-radius: 2.25vh;
}

#header-dropdown {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: var(--bonewhite);
    border-bottom-left-radius: 2.25vh;
    border-bottom-right-radius: 2.25vh;
    transition: transform 0.5s ease, top 0.5s ease;
    transform-origin: top;
    transform: scaleY(0);
}

#header-dropdown-wrapper:hover #header-dropdown {
    top: 50%;
    transform: scaleY(1);
}

#header-dropdown-wrapper:hover .header-dropdown-element {
    opacity: 1;
}

.header-dropdown-element {
    z-index: -1;
    width: 100%;
    opacity: 0;
    border: none;
    background-color: transparent;
    transition: opacity 0.25s ease, transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-dropdown-element:hover {
    transform: translateY(-2px);
}

.nav-item {
    width: fit-content;
}

.bi {
    line-height: 100%;
}

/* //////////////// Gallerie ////////////////// */

#gallery-wrapper {
    height: 100%;
    width: 80%;
}

#gallery-title {
    user-select: none;
    vertical-align: bottom;
}

.gallery-title-letter {
    color: var(--bonewhite);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 8vw;
    transform: translateY(-25%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.75s;
}

.gallery-navigation-item {
    color: var(--bonewhite);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.gallery-navigation-item:hover {
    color: var(--bonewhite);
}

#gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.gallery-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
}

.gallery-image {
    object-fit: fill;
    height: 12.5vw;
    width: 12.5vw;
    transition: filter 0.5s, transform 0.5s, box-shadow 0.5s;
}

.gallery-image:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

#gallery-footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

#gallery-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bonewhite);
    border: none;
    border-radius: 50%;
    padding: 0.5vw !important;
    margin: 2vw !important;
    transition: box-shadow 0.25s ease-in;
}

#gallery-add-button:hover {
    box-shadow: 0 0 5px var(--bonewhite);
}

#gallery-window, #gallery-upload-window {
    width: fit-content;
    height: fit-content;
}

#gallery-modal-photo {
    max-height: 80vh;
    max-width: 80vw;
    object-fit: fill;
}

#input-file {
    display: none;
}

#input-file-label {
    background-color: #e0e0e0;
    border-radius: 25px;
}

#gallery-input-info-text {
    max-width: 25vw;
}

#gallery-fade {
    height: 15vh;
    z-index: 100;
    pointer-events: none;
    background: linear-gradient(var(--blue), transparent 90%);
}
.wave {
    height: fit-content;
    object-fit: fill;
    max-width: 100%;
}

.up-and-down {
    animation: up-and-down 3s linear infinite;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50px);
    }
    40% {
        transform: translateY(0);
    }
}

.up-and-down-low {
    animation: up-and-down-low 3s linear infinite;
}

@keyframes up-and-down-low {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
}

@keyframes loop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.tada {
    animation: tada 10s linear infinite;
}

@keyframes tada {
    0% {
            transform: scale3d(1, 1, 1);
    }
    1%,
    2% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    3%,
    5%,
    7%,
    9% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    4%,
    6%,
    8% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    10% {
        transform: scale3d(1, 1, 1);
    }
}

#notification-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 10000;

    /* background: var(--orange-transparent);
    box-shadow: 0 0 10px 0 var(--orange-transparent); */

    background: #5168a0c2;
    box-shadow: 0 0 10px 0 var(--blue-transparent); 
    
    /* background: rgba(255, 255, 255, 0.75);
    box-shadow: 3px 3px 10px #222222bb; */
    
    border: 3px solid rgba( 255, 255, 255, 0.25 );
    border-radius: 25px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: var(--bonewhite);
    opacity: 0;
    transform: translateY(50px);
    
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#changepassword-window {
    width: 30vw;
    height: fit-content;
}

#annuaire-table-head {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 90%;
}

#annuaire-table-wrapper {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    max-height: 100%;
    width: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#annuaire-table-wrapper::-webkit-scrollbar {
    display: none;
}

@media (max-height: 700px) {
    .avatar-d-none {
        display: none !important;
    }
}

@media (min-aspect-ratio: 2/1) {
    .window-container {
        padding: 0 15vw !important;
    }
    #footer-container {
        padding: 0 15vw !important;
    }
    #connection-container {
        padding: 0 40vw !important;
    }
}

@media (max-width: 1000px) {
    #annuaire-table-head {
        width: 100%;
    }
    
    #annuaire-table-wrapper {
        width: 100%;
    }
    #gallery-wrapper {
        width: 90%;
    }
    .gallery-title-letter {
        font-size: 15vw;
    }
    .gallery-navigation-item {
        font-size: 4vw;
    }
    .gallery-image-wrapper {
        object-fit: contain;
    }
    .gallery-image {
        height: 27.5vw;
        width: 27.5vw;
    } 
    .phone-d-none {
        display: none;
    }
    #gallery-input-info-text {
        max-width: 85vw;
    }
    #gallery-upload-window {
        width: 90%;
        border-radius: 25px;
    }
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    #connection-window {
        background-color: white;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
    .title-2 {
        font-size: 2.5vh;
    }
    #organisator-container {
        width: 100%;
    }
    .avatar-lg {
        height: 10vh;
        width: 10vh;
        margin: 0 2rem !important;
    }
    .organisator-wrapper {
        margin: 0 !important;
    }
    #sponsor-container {
        width: 80%;
    }
    .sponsor-img {
        height: 5vh;
        width: 9vh;
    }
    .separation-bar-lg {
        height: 4px;
        width: 60%;
    }
    .organisator-text {
        font-size: 0.8rem;
    }
    #organisation-text-introduction {
        max-width: 1000%;
    }
    #organisation-map-wrapper {
        border: 2px solid var(--bonewhite);
        border-radius: 0;
    }
    #startpage-countdown-box {
        width: 75%;
    }
    .startpage-title:nth-child(1) {
        font-size: 8vw;
        line-height: 8vw;
    }
    .startpage-title:nth-child(2) {
        text-align: center;
        font-size: 13vw;
        line-height: 13vw;
    }
    .startpage-title:nth-child(3) {
        font-size: 4vw;
        line-height: 4vw;
    }
    .countdown-number {
        font-size: 15vw;
        line-height: 15vw;
    }
    .general-info-text-small {
        max-width: 80%;
        font-size: 3.75vw;
        line-height: 5vw;
    }
    .button {
        width: 100%;
    }
    .text-title {
        margin-top: 1.5vh !important;
        margin-bottom: 3vh !important;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: bold;
    }
    .text-information {
        font-size: 1.1rem;
        line-height: 1.25rem;
        text-align: justify;
    }
    .text-center-lg {
        text-align: justify;
    }
    #notification-wrapper {
        left: 2vw;
        right: 2vw;
        bottom: 2vw;
    }
    #changepassword-window {
        width: 100%;
        height: 100%;
    }
    #inscription-scrollable {
        max-width: 100%;
    }
    .inscription-form {
        max-width: 90%;
    }
    .avatar-small {
        height: 13vh;
        width: 13vh;
    }
    .inscription-info-text {
        font-size: 2vh;
    }
    .window {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .inscription-typeit {
        text-align: center;
    }
    .inscription-btn-back-phone {
        display: inline;
    }
    .dot-header {
        display: none;
    }
    .svg-france {
        display: none;
    }
    #questions-box {
        width: 90%;
    }
    .questions-input {
        width: 90%;
    }
    #questions-form {
        border: none;
        background: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none²;
        border-radius: none;
    }
    .general-info-text {
        font-size: 2vh;
        line-height: 2.5vh;
    }
}